$themes:(
    dark:(
        color:white,
        background-color:#242424,
        border-color:#ccc
    ),
    light:(
        color:#333,
        background-color:white,
        border-color:#ccc
    )
);

@mixin change-back-transition {
    transition: background .3s,width .3s cubic-bezier(.2,0,0,1) 0s;
}
@mixin themeify {
    @each $themeKey,$themeValue in $themes {
        $themeValue:$themeValue !global;//提升全局变量
        [data-theme="#{$themeKey}"] &{
            @content;
        }
    }
}
@function themed($key){
    @return map-get($map: $themeValue, $key: $key)
};
// 背景色
@mixin background_color($color) {
    @include change-back-transition;
    @include themeify{
        background-color: themed($color);
    }
}
// 字体颜色
@mixin color($color) {
    @include themeify{
        color:themed($color)
    }
}
// 边框颜色
@mixin border_color($color) {
    @include themeify{
        border-color:themed($color)
    }
}

// flex混入，默认靠左，居中
@mixin flex($justify:flex-start,$align:center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin hover($color:var(--ant-primary-color-hover)) {
    color: $color;
    cursor: pointer;
}
